html,
body {
  height: 100%;
  overflow: hidden;
}

.v-application {
  height: 100%;
}

.v-main {
  height: calc(100% - 52px);
  overflow: hidden auto;
}

.s-container {
  width: $default-container;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.v-application--wrap {
  flex-flow: row;
  background: map-get($colors, "background");
}

.s-icon,
.drawer__icon--touchpoint-icon,
.v-icon.v-icon,
.app-bar__btn {
  transition: $default-transition;
}

.text-base {
  color: map-get($text, 'base') !important;
}

.text-strong {
  color: map-get($text, 'base') !important;
}

.text-strong-darken {
  color: map-get($text, 'strong-darken') !important;
}
