$default-container: 1050px;
$default-font-size: 16px;
$default-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;

$colors: (
  "blue": #008cff,
  "gray": #a0a3bd,
  "red": #ed6a61,
  "orange": #ff8c00,
  "background": #f7f7fc,
) !default;

$text: (
  "base": #6e7191,
  "strong": #4E4B66,
  "strong-darken": #3B4857,
  "placeholder": map-get($colors, "gray"),
) !default;

$user-status: (
  "online": #69bc35,
) !default;

$dashboard: (
  "logo": map-get($colors, "blue"),
  "nav-item": map-get($colors, "gray"),
) !default;

$app-bar: (
  "blue": map-get($colors, "blue"),
  "second": map-get($colors, "background"),
  "border": #e6e9f1,
) !default;

$profile: (
  "active": map-get($colors, "blue"),
) !default;

$status: (
  "yellow": #d8902a,
  "yellow-fill": #fef9f2,
  "yellow-stroke": #f7d6a6,
) !default;

$notification: (
  "blue": map-get($colors, "blue"),
  "blue-fill": #e1edfa,
) !default;