$default-font-size: 16px;
$default-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;

$colors: (
  "blue": #008cff,
) !default;

$dashboard: (
  "logo": map-get($colors, "blue"),
  "nav-item": #a0a3bd,
) !default;
